<ion-view title="Bus Driver" id="page2" style="background-color:#8B8A8A;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-bus"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="busDriver-form4" class="list">
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <div id="busDriver-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:20px;">
          <strong>พนักงานขับรถเข้าสู่ระบบ</strong>
        </p>
      </div>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="busDriver-textarea4">
        <span class="input-label">User Name</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="busDriver-input4">
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
    </form>
    <form id="busDriver-form5" class="list">
      <label class="item item-input" id="busDriver-textarea5">
        <span class="input-label">Password</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="busDriver-input5">
        <input type="password" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <a ui-sref="mENU.busDriver2" id="busDriver-button16" class="button button-positive  button-block">เข้าสู่ระบบ</a>
    </form>
  </ion-content>
</ion-view>