<ion-view title="Home" id="page4" style="background-color:#8B8A8A;">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="mENU.busDriver">
        <img src="img/VilIQh9PTxSntn7UrXOq_driver2.png" width="70%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="home-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFDFD;">
        <strong>Bus Driver</strong>
      </p>
    </div>
    <div>
      <a style="display:block;" ui-sref="mENU.passenger">
        <img src="img/wjaqmYBSPqo3Zv2oAjlr_passenger2.png" width="70%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="home-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Passenger</strong>
      </p>
    </div>
  </ion-content>
</ion-view>