<ion-view title="Map" id="page5" style="background-color:#8B8A8A;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-map"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>