<ion-view title="NU Bus Tracking" hide-nav-bar="true" id="page1" style="background-color:#8B8A8A;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 166px;"></div>
    <div>
      <a style="display:block;" ui-sref="mENU.home">
        <img src="img/eltaUPV8Rhn10Eml4cPQ_logo_app2.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="nUBusTracking-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:25px;">
        <strong>NU Bus Tracking</strong>
      </p>
    </div>
    <div id="nUBusTracking-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:15px;">
        <strong>LOADING...</strong>
      </p>
    </div>
  </ion-content>
</ion-view>