<ion-view title="Passenger" id="page3" style="background-color:#8B8A8A;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-person"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/nktatvhUTFelivwxgNTN_map.png" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="passenger-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:15px;">
        <strong>ขออนุญาตให้ "NU Bus Tracking"</strong>
        เข้าถึงตำแหน่งที่ตั้งของคุณระหว่างที่คุณใช้งานหรือไม่</p>
    </div>
    <a ui-sref="mENU.map" id="passenger-button18" class="button button-positive  button-block">ตกลง</a>
  </ion-content>
</ion-view>